
.field_error{
  font-weight: bold;
}
.field_with_errors {
  padding-bottom: 10px; 
  background-color: #f2dede;
  color: #a94442;
  margin-right: 3px !important;
  button{
    color: #a94442;
    background-color: #f2dede;  
  }
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.field_with_errors.control-group.error{
  margin:0;
  padding:0;
  margin-bottom: 1px;
}
.field_with_errors.control-group.error{
  border: 1px solid #DD7372;
  box-shadow: inset 0 0 3px #DD7372;
}
.field_with_errors label{
  padding: 10px 0 10px 10px;
  margin:0; 
  margin-bottom: 1px;
}
.field_with_errors.error {
  color: #cc0000;
}



#error_explanation{
  color: #CE3635;
  font-family: 'Open Sans';
  border: 1px solid #ccc;
  padding-left: 10px;
  .bg-danger{
    padding: 5px 2px !important;
    font-weight: bold;
    font-size: 13px;
    margin:15px;
  }
  h2{
    display:block;
    font-weight: bold;
    font-size: 1.6em;
    text-align: left;
  }
  ul{
    list-style: none;
    padding-left: 15px;
    li{
      font-size: 1.1em;
      margin:5px 0!important;
      padding:0;
      line-height: 1.2em;
      text-align: left;
    }
    li:before {
      content: "\f00d"; /* FontAwesome Unicode */
      font-family: FontAwesome;
      display: inline-block;
      margin-left: 0em; /* same as padding-left set on li */
      width: 1em; /* same as padding-left set on li */
    } 
  } 
}
