<nav class="amber accent-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Main</a></li>
      <li><a href="/support">Apoiar</a></li>
      <li><a href="/">Instituições</a></li>
      <li><a href="/">Contato</a></li>
      <li><a href="/users/sign_in">Login</a></li>
      <li><a href="/users/sign_up">Register</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Main</a></li>
      <li><a href="/support">Apoiar</a></li>
      <li><a href="/">Instituições</a></li>
      <li><a href="/">Contato</a></li>
      <li><a href="/users/sign_in">Login</a></li>
      <li><a href="/users/sign_up">Register</a></li>      
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
